*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* nuestro servicio*/
.subtitulo{
  text-align: center;
  font-weight: 300;
  color: #292F35;
  margin: 25px;
  font-size: 35px;
}
.contenedor-servicio{
  display: flex;
  height: 300px;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin: 54px;
}
.contenedor-servicio img{
  width: 250px;
  height: 250px;
  border: #243949 solid 1px ;
  border-radius: 5%;
  box-shadow: 0 0 25px #292F35;
}

.contenedor-servicio video{
  height: 300px;
  width: 300px;
  border-radius: 7px 7px 7px 7px;
}

.servicio{
  width: 300px;
  
}

.servicio p{
  font-size: 20px;
  font-family: cambria;
}
.service{
  margin-bottom: 15px;
}
.n-service{
 margin-bottom: 7px;
 color: rgb(37, 66, 82); 
}
.number{
  display: inline-block;
  background-image: linear-gradient(to top, #9890e3 0%, #b1f4cf 100%);
  width: 60px;
  height: 40px;
  color: blue;
  text-align: center;
  border-radius: 50%;
  font-weight: 700;
  line-height: 40px;
  margin-right: 10px;
}
