.container {
display: flex;
justify-content: center;
align-items: center;
height: 400px;
background-image: url("https://source.unsplash.com/random/900x700/?gym");
background-size: cover;
}
.card {
width: 400px;
padding: 40px;
background-color: aliceblue;
border: 1px solid rgb(245, 244, 244);
box-shadow: 5px 5px 10px rgb(173, 232, 241);
}
.text {
text-align: center;
margin: 0 auto 20px;
}
.input{
  width: 100%;
  margin-bottom: 10px;
padding: 10px;
border: 1px solid white;
}
.button {
    width: 100%;
padding: 10px;
color: aliceblue;
background-color: rgb(38, 219, 247);
border: none;
cursor: pointer;
}